:root {
  --primary: #42c2eacc;
  --bg: #0a1311;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Intel-one-mono", sans-serif;
  background-color: var(--bg);
  color: #feeeee;
  min-height: 2600px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(19, 24, 23, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 1.4rem;
  color: #feeeee;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #efebeb;
  display: inline-block;
  font-size: 700;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a:hover::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linier;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #efebeb;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/summer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: linear-gradient(
    0deg rgba(2, 2, 2, 1) 3%,
    rgba(225, 225, 225, 0) 50%
  );
}

.hero .content {
  padding: 1 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2rem;
  color: #faf6f6;
  text-shadow: 1px 1px 1px rgba(1, 1, 2, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 0.4rem;
  line-height: 1.4rem;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(66, 122, 226, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(82, 82, 230, 0.5);
}

/* about section */

.about,
.news, 
.contact {
  padding: 5.8rem 7% 1.4rem;
}

.about h2,
.news h2, 
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.about h2 span,
.news h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  height: 30rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0.1rem;
}

.about .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.6;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* news section */

.news p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.4rem;
}

.news .row {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.news .row .news-img { 
  display: auto;
  justify-content: space-between;
  
}

.news .row .news-img img {
  border-radius: 80%;
  width: 15rem;
  margin-right: 15px;
  margin-left: 15px;
 
}

.news .news-img .news-img-title {
  margin-top: 1.5rem;
  text-align: center;
}

.news .news-img h3 span, 
.news-img2 h3 span, 
.news-img3 h3 span{
  color: var(--primary)
}

/* news img 2 */

.news .news-img2 img {
  border-radius: 80%;
  width: 15rem;
  height: 15rem;
  margin-right: 15px;
  margin-left: 15px;
 
  
}
  
.news .news-img2 .news-img-title {
  margin-top: 1.5rem;
  text-align: center;
  
}

/* news-img 3 */

.news .news-img3 img {
  border-radius: 80%;
  width: 15rem;
  height: 15rem;
  margin-right: 15px;
  margin-left: 15px;
 
}
  
.news .news-img3 .news-img-title {
  margin-top: 1.5rem;
  text-align: center;
  
}

/* contact section */

.contact .row .contact-img img {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 70%;
}
